<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>修改密码</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" th:href="@{/css/font.css}">
        <link rel="stylesheet" th:href="@{/css/xadmin.css}">
        <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
        <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
        <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
        <!--[if lt IE 9]>
            <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
            <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
        <![endif]--></head>
    
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="oldPwd" class="layui-form-label">旧密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="oldPwd" name="oldPwd" required=""
                                   lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="newPwd" class="layui-form-label">新密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="newPwd" name="newPwd" required=""
                                   lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="confirmPwd" class="layui-form-label">确认密码</label>
                        <div class="layui-input-inline">
                            <input type="password" id="confirmPwd" name="confirmPwd" required=""
                                   lay-verify="required" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-form-item" style="text-align: center">
                        <input class="layui-btn layui-btn-primary" id="cancelChange" value="取消">
                        <input class="layui-btn" lay-filter="save" lay-submit="" value="确认">
                    </div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer'], function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;

                //监听提交
                form.on('submit(save)',function(data) {
                    postData = data.field;
                    if(postData.confirmPwd != postData.newPwd){
                        layer.msg("新密码不一致");
                        return
                    }
                    $.ajax({
                        url: "/user/user",
                        type: "POST",
                        data: {
                            "id":'[[${#request.getParameter("id")}]]',
                            "oldPwd": postData.oldPwd,
                            "newPwd": postData.newPwd
                        },
                        success: function (result) {
                            success = result.extend.success
                            if(success === 0) {
                                layer.msg("旧密码错误, 请重试");
                            }else{
                                layer.msg("修改成功");
                                window.setTimeout(function () {
                                    xadmin.close();
                                }, 700);
                            }
                        }
                    })
                    return false;
                });

                $("#cancelChange").click(function () {
                    xadmin.close();
                })
            });
        </script>

    </body>

</html>