<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jancoyan.commentset.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jancoyan.commentset.pojo.Comment">
        <id column="comment_id" property="commentId" />
        <result column="comment_author_id" property="commentAuthorId" />
        <result column="comment_content" property="commentContent" />
        <result column="post_date" property="postDate" />
        <result column="comment_like_count" property="commentLikeCount" />
        <result column="comment_collect_count" property="commentCollectCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        comment_id, comment_author_id, comment_content, post_date, comment_like_count, comment_collect_count
    </sql>

</mapper>
