<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/lib/editor.md/editormd.js}"></script>
    <link rel="stylesheet" th:href="@{/lib/editor.md/css/editormd.css}">
    <link rel="stylesheet" th:href="@{/lib/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/font.css}">

    <title>写博客</title>
</head>
<body>
    <!-- 文章输入框 -->
    <form class="layui-form">
        <div class="layui-form-item" style="margin-top: 15px; text-align: center;">
            <label class="layui-form-label">标题</label>
            <div class="layui-input-block" style="width: 90%;">
                <input id="article-title" type="text" name="title" lay-verify="title" autocomplete="off"
                        placeholder="请输入标题" class="layui-input">
            </div>
            <div class="layui-inline" style="float:left; margin-top: 15px; ">
                <label class="layui-form-label">类型</label>
                <div id="type" class="layui-input-inline select-or-search" style="width: 150px">
                </div>
            </div>
            <div class="layui-inline" style="float:right; margin-top: 15px">
                <div class="layui-input-inline" id="submit-panel">
                    <input id="submit-btn" type="button" class="layui-btn" style="width: 150px"
                           value="发布博客" />
                </div>
                <div class="layui-input-inline" id="return-panel" style="display: none">
                    <input id="return-btn" type="button" class="layui-btn layui-btn-primary"
                           style="width: 150px;" value="放弃修改" />
                </div>
                <div class="layui-input-inline" id="update-panel" style="display: none">
                    <input id="update-btn" type="button" class="layui-btn" style="width: 150px;"
                           value="保存修改" />
                </div>
            </div>
        </div>
    </form>

    <script th:src="@{/lib/layui/layui.js}"></script>
    <div>
        <div id="test-editormd">
            <textarea name="message" id="message"></textarea>
        </div>
    </div>
    <script>
        var layer;
        layui.use(['form', 'layedit', 'laydate', 'layer'], function(){
            layer = layui.layer;
        });

        content = ''
        var content = "[[${session.content.articleMd}]]"

        if(content !== ''){
            // content 有值，说明是修改文章来的
            // 展示保存修改和放弃修改两个按钮
            // 修改完成之后再显示
            $("#submit-panel").css("display", "none");
            $("#update-panel").css("display", "block");
            $("#return-panel").css("display", "block");
        }

        $(function() {
            // 进行输入区的相关绑定
            var testEditor;
            testEditor = editormd("test-editormd", {
                htmlDecode: "style, script, iframe",
                width: "100%",
                height: 700,
                syncScrilling: "single",
                emoji: true,
                path: "/lib/editor.md/lib/",
                saceHTMLToTextarea: true,
                tocm: true,
                tex: true,
                flowChart: true,
                imageFormats: ["jpg", "gif", "png", "jpeg"],
                imageUpload: true,
                imageUploadURL: "/article/pictureupload",
                value: content
            });

            // 拉取标签选择栏的信息
            build_select_bar();
        })

        // 加载tag中的标签
        function build_select_bar() {
            $.ajax({
                url: "/type/all",
                type: "GET",
                data:{
                    page: 1,
                    limit: 999
                },
                success: function (result) {
                    list = result.extend.pageInfo.records;
                    var Select = $("<select></select>").attr("name", "tags").attr("lay-search", "");
                    html = "<option value='' selected>搜索或选择</option>";
                    $.each(list, function (index, item) {
                        html += "<option value=" + item.typeId + ">" + item.typeName + "</option>"
                    })
                    Select.append($(html)).appendTo(".select-or-search");
                    layui.form.render()
                }
            })
        }

        // 绑定点击事件 - 提交
        $(document).on("click", "#submit-btn", function () {
            // 文章标题
            var ArticleTitle = $("#article-title").val();
            var HTMLContent = $(".editormd-preview")[0].innerHTML;
            var MDContent = $('.editormd-markdown-textarea').val();
            var types = $("#type option:selected").val()

            // 这个事件已经绑定好了，找时间把这个上传文字和图片的功能给做了。
            if("" === ArticleTitle){layer.msg("标题不能为空"); return;}
            if("" === HTMLContent){layer.msg("内容不能为空"); return;}
			$.ajax({
                url: "/article/submit",
                type: "PUT",
                data: {
                    'innerHTML': HTMLContent,
                    'innerMD': MDContent,
                    'title': ArticleTitle,
                    'types': types,
                },
                success: function (result) {
                    layer.msg("发布成功!");
                    window.setTimeout(function (){ window.location.href = "../index.html"}, 1000)
                }
            })
        });

        // 绑定点击事件 - 保存修改
        $(document).on("click", "#update-btn", function () {
            // 文章标题
            var ArticleTitle = $("#article-title").val();
            var HTMLContent = $(".editormd-preview")[0].innerHTML;
            var MDContent = $('.editormd-markdown-textarea').val();
            var types = $("#type option:selected").val()

            if("" === ArticleTitle){layer.msg("标题不能为空"); return;}
            if("" === HTMLContent){layer.msg("内容不能为空"); return;}
            $.ajax({
                url: "/article/submit",
                type: "POST",
                data: {
                    'innerHTML': HTMLContent,
                    'innerMD': MDContent,
                    'title': ArticleTitle,
                    'types': types,
                },
                success: function (result) {
                    layer.msg("修改成功!");
                    window.setTimeout(function (){ location.href = "index.html"}, 1000)
                    $("#submit-panel").css("display", "block");
                    $("#update-panel").css("display", "none");
                    $("#return-panel").css("display", "none");
                }
            })
        });

        // 绑定点击事件 - 放弃修改
        $(document).on("click", "#return-btn", function () {
            $.ajax({
                url: "/article/submit",
                type: "GET",
                success: function (result) {
                    window.location.href = "../index.html";
                }
            })
        });

    </script>
</body>
</html>
